# stack config -- one config to rule them all
# github.com/axialmarket/stack

[daemon]
user                     = "stack"
config_src               = "/etc/stack/stack.cfg"

[server]
host                     = "0.0.0.0"
port                     = 9989
workers                  = 2
debug                    = True

[db]
url                      = "sqlite:////var/stack/stack.db"

[forecast]
halflife                 = 129600        # evidence decay halflife in seconds
algorithm                = "monte-carlo" # monte-carlo, normal or lognormal

[alerts]
outlier                  = True
creep                    = True
email                    = "matt.story@axial.net"

#TODO: should be application level config, should be OAUTH, not uname/pass
#TODO: should also be built at install time, remove this and change pass pre-launch
[jira]
url                      = "axial0.atlassian.net"
username                 = "no"
password                 = "no"
time_fmt                 = "%a, %d %b %Y %H:%M:%S -0400"

# filter for epics and work
epic_jql                 = 'project in (AUTH, CONTAX) AND issuetype in (Epic)'
work_jql                 = 'project in (AUTH, CONTAX) AND issuetype in (Improvement, "New Feature", Story, Task) AND assignee in (scuba, firecrow, cburke, bah, jeffrandaxm)'

in_progress_status       = "Working"           # where eng starts
dev_done_status          = "Ready For Testing" # where eng stops
prod_done_status         = "Closed"            # when is it in prod?

effort_estimate_field    = "Eng Estimate"      # name of effort est field
value_estimate_field     = "Product Value"     # name of value est field
start_override_field     = "Started Date"      # manual in_progress override
dev_done_override_field  = "Ready for QA Date" # manual dev_done override
prod_done_override_field = "Shipped Date"      # manual prod override

discard_resolutions      : [ "Duplicate", "Cannot Reproduce",
                             "Won't Fix", "Intended Behavior", "Intermittent",
                             "Non-Issue", "0xDEADBEEF" ]
